@*model AutomaticEncoding9.ViewModels.CommentVM*@
@model AutomaticEncoding9.ViewModels.CommentPageVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>CommentVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewComment.Name" class="control-label"></label>
                <input asp-for="NewComment.Name" class="form-control" />
                <span asp-validation-for="NewComment.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewComment.Message" class="control-label"></label>
                <input asp-for="NewComment.Message" class="form-control" />
                <span asp-validation-for="NewComment.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<h4>Posted Comments</h4>
@if (!Model.Comments.Any())
{
    <p>No comments have been posted yet.</p>
} else
{
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li><strong>@comment.Name</strong>: @comment.Message</li>
            <li>@comment.Message</li>
        }
        @*Automatic Encoding: zorgt ervoor als je letterlijk html ingeeft dat de browser snapt dat dit geen uitvoerbare code is *@
        @*<li> @Html.Raw(comment.Message) --> encoding uitschakelen: als er nu html geschreven wordt, zal de browser dit dus wel uitschakelen*@
    </ul>
    
   
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
