
@{
    //Layout = "_LayoutEmployer"; // Je default layout (_Layout) overschrijven
}

<p>Course Full Stack Development</p>

@{ // Dit is een C# codeblok
    // Razor Code
    int getal = 10;

    if (getal < 10)
    {
        
    } else
    {
        
    }
}

<p>Dit getal is @getal</p>